$lightestGray: #eef2f3;
$lightGray: #f5f5f5;
$black: #101010;
$backgroundBlue: #f6fafc;
$lightBlue: #00c2ff;
$horizonBlue: #479ccd;
$radioChecked: #00c2ff;
$intenseBlue: #3db1f4;
$charcoal: #0d435a;

$midGray: #f0f2f4;
$darkGray: #5f7787;
$heading-2: $charcoal;
$heading-3: $darkGray;

$text-color: $darkGray;
$error: #f16755;
$warning: #ffa616;
